<section id="home" class="parallax section first-section" data-stellar-background-ratio="0.9" style="background-image:url(<%=asset_url('background.jpg')%>);">
		<div class="index-image-overlay"></div>
		<div class="customtitle">
			<%= image_tag "ls_logo.png", class: "img-responsive"%>
		</div>
	</section><!-- end section -->	


	<section id="media" class="section">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Welcome to the Leaving Spirit Family</h2>
				<p>We stand for 100% handmade, independent music inspired by blues, rock & country!</p>
			</div><!-- end title -->

			<div class="row video-wrapper">
				<div class="col-md-6 m30">
					<div class="blog-box">
						<div class="home-video videobox clearfix">
							<iframe class="videoframe" width="560" height="315" src="https://www.youtube.com/embed/LOETkpsoUOw"></iframe>
						</div><!-- end media -->
						<div class="blog-title">
							<h3><a href="https://www.youtube.com/watch?v=LOETkpsoUOw" title="">Leaving Spirit | Myth of the Delta Blues (Official Video)</a></h3>
							<p>With "Myth of the Delta Blues" we pay tribute to our influences from the early days of the blues.</p>
						</div><!-- end blog-title -->
					</div><!-- end blog-box -->
				</div><!-- end col -->

				<div class="col-md-6 m30">
					<div class="blog-box">
						<div class="home-video videobox clearfix">
							<iframe class="videoframe" width="560" height="315" src="https://www.youtube.com/embed/w2ofVmkzveo"></iframe>
						</div><!-- end media -->
						<div class="blog-title">
							<h3><a href="https://www.youtube.com/watch?v=w2ofVmkzveo" title="">Leaving Spirit | Mississippi Bridge (Official Video)</a></h3>
							<p>His way is as lonely as his mind... Follow the unknown rider on his ride through the state of Mississippi!</p>
						</div><!-- end blog-title -->
					</div><!-- end blog-box -->
				</div><!-- end col -->

		
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end section -->


	<section id="about" class="section wb">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2><i>The</i> History</h2>
				<p>Leaving Spirit stands for 100% handmade, independent music inspired by blues, rock & country!</p>
			</div><!-- end title -->

			<div class="row">
				<div class="col-md-6">
					<div class="section-small-title">
						<h2>About Leaving Spirit</h2>
					</div><!-- end title -->

					<p> Leaving Spirit was founded in 2016 by Charlotte Bohne, Marea Löser, Leo Kürschner, Laurin Seitz and Florian Eppel. After winning the newcomer contest "Enter the Stage" of a local rock organization in 2017 Anton Bohne joined the band to complete the guitar trio. The band played several club and festival gigs in 2017 and 2018 and also two shows at Würzburgs biggest festival "Umsonst&Draußen". Later on in 2018 the debut album, which was released in 2019 was recorded. Laurin and Charlotte left town to go to university as well as Marea, she went to spread the spirit in Australia. Paula Frecot (vocals), Felix Möser (drums) and Linus Glaesemer (bass) joined the band shortly after to recomplete the lineup.</p>

				</div><!-- end col -->

				<div class="col-md-6 centering">
					<div class="home-video">
						<iframe class="videoframe" width="560" height="315" src="https://www.youtube.com/embed/LOETkpsoUOw"></iframe>
					</div><!-- end video -->
				</div><!-- end col -->

			</div><!-- end row -->

			<div class="row">
				<div class="col-md-6">
					<p>The group decided to rerecord the vocals with new vocalist Paula Frecot and released their 13-track debut album "Things Change" on August 2, 2019. They were featured as "act of the month" on Germany's biggest guitar magazine "Gitarre & Bass" (vol. 09/2019). The band took a hiatus from touring until mid 2020. During that time they released a nine episode video series called the "Acoustic Garden Sessions".</p>
				</div>
				<div class="col-md-6">
					<p>Despite the corona virus pandemic Leaving Spirit played their first tour across Germany in Fall 2020 with stops in Berlin, Hamburg, Leipzig, Hannover and Würzburg. The band released several new songs in a live session format in 2021 on Spotify and YouTube. After a reformation in 2021 with new members Maik Wiezorrek on keys, Eric Loeffler on guitars and Amelie Platzoeder on bass, the band is currently planning the release of their new record and a tour for Fall 2022.</p>
				</div>
			</div>

			<hr class="invis">

			<div class="row">
				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_01.jpg')%> alt="" class="alignleft">
							<i class="flaticon-karaoke"></i>
						</div>
						<h4>Vocals</h4>
						<small>Paula Frecot</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_03.jpg')%> alt="" class="alignleft">
							<i class="flaticon-electric-guitar"></i>
						</div>
						<h4>Guitars</h4>
						<small>Florian Eppel</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_02.jpg')%> alt="" class="alignleft">
							<i class="flaticon-saxophone"></i>
						</div>
						<h4>Hammond/Piano</h4>
						<small>Maik Wiezorrek</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_03.jpg')%> alt="" class="alignleft">
							<i class="flaticon-electric-guitar"></i>
						</div>
						<h4>Guitars</h4>
						<small>Eric Löffler</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_03.jpg')%> alt="" class="alignleft">
							<i class="flaticon-electric-guitar"></i>
						</div>
						<h4>Bass</h4>
						<small>Amelie Platzöder</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_04.jpg')%> alt="" class="alignleft">
							<i class="flaticon-drum-set"></i>
						</div>
						<h4>Drums</h4>
						<small>Fabian Schäfauer</small>
					</div><!-- end teambox -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end section -->

	<section id="tour" class="section">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Upcoming Tour Dates</h2>
				<p>A complete list of festivals and concerts to be held soon! You can buy the latest concert tickets here!</p>
			</div><!-- end title -->

			<div class="tour-table table-responsive">
			  <table class="table row">
			    <thead>
			      <tr>
			        <th class="col-md-3">Date</th>
			        <th class="col-md-4">Venue</th>
			        <th class="col-md-3">Location</th>
			        <th class="col-md-2 text-center">Ticket</th>
			      </tr>
			    </thead>
			    <tbody>
			    <% @concerts.order(date: :asc).each do |concert| %>
			    <% if concert.date.future? %>
			      <tr>
			        <td class="col-md-3 tour-date"><%=concert.date%></td>
			        <td class="col-md-4"><a href="#"><%=concert.title%></a></td>
			        <td class="col-md-3"><%=concert.location_name%></td>
			        <td class="col-md-2 ticket-button text-center"><a href='<%=concert.ticket_link%>' class="btn btn-primary">Tickets</a></td>
			      </tr>
			    <% end %>
			    <% end %>
			    </tbody>
			  </table>
			</div><!-- end tour-table -->
		</br>
			<div class="section-title text-center clearfix">
				<h2>Past Tour Dates</h2>
				<p>Here is a list of shows that we played in the past!</p>
			</div><!-- end title -->
			<div class="tour-table table-responsive">
			  <table class="table row">
			    <thead>
			      <tr>
			        <th class="col-md-3">Date</th>
			        <th class="col-md-4">Venue</th>
			        <th class="col-md-3">Location</th>
			        <th class="col-md-2 text-center">Ticket</th>
			      </tr>
			    </thead>
			    <tbody>
			    <% @concerts.order(date: :desc).each do |concert| %>
			    <% if concert.date.past? %>
			      <tr>
			        <td class="col-md-3 tour-date"><%=concert.date%></td>
			        <td class="col-md-4"><a href="#"><%=concert.title%></a></td>
			        <td class="col-md-3"><%=concert.location_name%></td>
			        <td class="col-md-2 ticket-button text-center"><a href='<%=concert.ticket_link%>' class="btn btn-primary">Tickets</a></td>
			      </tr>
			    <% end %>
			    <% end %>
			    </tbody>
			  </table>
			</div><!-- end tour-table -->

			<div class="section-button text-center">
				<a href="concerts.html" class="btn btn-primary btn-lg">LIST OF ALL CONCERTS</a>
			</div>
		</div><!-- end container -->
	</section><!-- end section -->

	<section id="albums" class="section wb">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Records</h2>
				<p>Singles and all albums we have released since 2019.</p>
			</div><!-- end title -->

			<div class="row albume-wrapper">
				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<img class="img img--grid" src=<%=asset_url('refrigeratorblues.jpg')%> alt="refrigeratorblues" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Refrigerator Blues</h3>
						</a>
					</div>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<img class="img img--grid" src=<%=asset_url('mythofthedeltablues.jpg')%> alt="mythofthedeltablues" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Myth of the Delta Blues</h3>
						</a>
					</div>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<img class="img img--grid" src=<%=asset_url('cometogether.jpg')%> alt="thingschange" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Come Together</h3>
						</a>
					</div>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<img class="img img--grid" src=<%=asset_url('dustywindow.jpg')%> alt="album1" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Dusty Window</h3>
						</a>
					</div>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<img class="img img--grid" src=<%=asset_url('acousticgardensessions.jpg')%> alt="album1" />
							</div>
							<span class="year">2020</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Acoustic Garden Sessions</h3>
						</a>
					</div>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<img class="img img--grid" src=<%=asset_url('thingschange.jpg')%> alt="thingschange" />
							</div>
							<span class="year">2019</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Things Change</h3>
						</a>
					</div>
				</div><!-- end col -->
			</div><!-- end row -->

			<div class="section-button text-center">
				<a href="https://open.spotify.com/artist/1rxtBMjRYbUsgjLFnhjmp0" class="btn btn-primary btn-lg">VIEW ON SPOTIFY</a>
			</div>
		</div><!-- end container -->
	</section><!-- end section -->

	<section id="follow" class="section">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Follow <i>Leaving Spirit</i></h2>
				<p>Follow Leaving Spirit on your social media profiles and get updates / tickets for free!</p>
			</div><!-- end title -->



			<div class="row">
				<div data-mc-src="3bc881ca-8f0e-4100-a731-6011ed27b4c4#null"></div> <!-- INSTAGRAM WIDGET -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end section -->


	<section id="store" class="section wb">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2><i>Our</i> STORE</h2>
				<p>Listed below our awesome store items! We design custom t-shirt's for our awesome fans!</p>
				<%= link_to cart_path do%>
			    My Cart
			    (<span class="cart-count"><%=current_user.cart_count%></span>)
			  <%end%>
			</div><!-- end title -->

			<div class="row text-center">

				<% @products.each do |product| %>
					<div class="col-md-3">
						<div class="shop-box">
							<div class="media-element">
								<img src=<%=asset_url('upload/shop_01.png')%> alt="" class="img-responsive">
							</div><!-- end media -->

							<hr>

							<div class="shop-meta">
								<h3><a href="#"><%=product.name%></a></h3>
								<div class="clearfix">
									<small class="pull-left"><%=sprintf('%.2f',product.price.round(2)) %> €</small>
									<small class="pull-right"><a href="#" class="btn btn-primary btn-sm">
  <%=link_to "", class: "button", data: {target: "Add to", addUrl: add_to_cart_path(product), removeUrl: remove_from_cart_path(product)} do%>
    Add To Cart
<%end%></a><a href="#" class="btn btn-primary btn-sm">
  <%=link_to "", class: "button", data: {target: "Remove from", addUrl: add_to_cart_path(product), removeUrl: remove_from_cart_path(product)} do%>
    Remove
<%end%></a></small>
								</div>
							</div><!-- end shop-meta -->
						</div><!-- end shop-box -->
					</div><!-- end col -->
				<%end%>


			<div class="section-button text-center">
				<a href="#" class="btn btn-primary btn-lg">VIEW ON AMAZON STORE</a>
			</div>
		</div><!-- end container -->
	</section><!-- end section -->

	<section class="footer section lb nobpad">
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>2016 - 2023 &copy;Leaving Spirit. All rights reserved.</p>
                        <ul class="list-inline">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyrights -->
	</section><!-- end section -->

	<!-- INSTAGRAM WIDGET -->
	<script 
  src="https://cdn2.woxo.tech/a.js#63af0676ff5457580d21a50b" 
  async data-usrc>
</script> 


