
<section id="home" class="parallax section first-section" data-stellar-background-ratio="0.9" style="background-image:url(<%=asset_url('background.jpg')%>);">
		<div class="index-image-overlay"></div>
		<div class="customtitle">
			<%= image_tag "ls_logo.png", class: "img-responsive"%>
		</div>
	</section><!-- end section -->	


	<section id="media" class="section">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Welcome to the Leaving Spirit Family</h2>
				<p>We stand for 100% handmade, independent music inspired by blues, rock & country!</p>
			</div><!-- end title -->

			<div class="row video-wrapper">
				<div class="col-md-6 m30">
					<div class="blog-box">
						<div class="home-video videobox clearfix">
							<iframe class="videoframe" width="560" height="315" src="https://www.youtube.com/embed/LOETkpsoUOw"></iframe>
						</div><!-- end media -->
						<div class="blog-title">
							<h3><a href="https://www.youtube.com/watch?v=LOETkpsoUOw" title="">Leaving Spirit | Myth of the Delta Blues (Official Video)</a></h3>
							<p>With "Myth of the Delta Blues" we pay tribute to our influences from the early days of the blues.</p>
						</div><!-- end blog-title -->
					</div><!-- end blog-box -->
				</div><!-- end col -->

				<div class="col-md-6 m30">
					<div class="blog-box">
						<div class="home-video videobox clearfix">
							<iframe class="videoframe" width="560" height="315" src="https://www.youtube.com/embed/w2ofVmkzveo"></iframe>
						</div><!-- end media -->
						<div class="blog-title">
							<h3><a href="https://www.youtube.com/watch?v=w2ofVmkzveo" title="">Leaving Spirit | Mississippi Bridge (Official Video)</a></h3>
							<p>His way is as lonely as his mind... Follow the unknown rider on his ride through the state of Mississippi!</p>
						</div><!-- end blog-title -->
					</div><!-- end blog-box -->
				</div><!-- end col -->

		
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end section -->


	<section id="about" class="section wb">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2><i>The</i> History</h2>
				<p>Leaving Spirit stands for 100% handmade, independent music inspired by blues, rock & country!</p>
			</div><!-- end title -->

			<div class="row">
				<div class="col-md-6">
					<div class="section-small-title">
						<h2>About Leaving Spirit</h2>
					</div><!-- end title -->

					<p> Leaving Spirit was founded in 2016 by Charlotte Bohne, Marea Löser, Leo Kürschner, Laurin Seitz and Florian Eppel. After winning the newcomer contest "Enter the Stage" of a local rock organization in 2017 Anton Bohne joined the band to complete the guitar trio. The band played several club and festival gigs in 2017 and 2018 and also two shows at Würzburgs biggest festival "Umsonst&Draußen". Later on in 2018 the debut album, which was released in 2019 was recorded. Laurin and Charlotte left town to go to university as well as Marea, she went to spread the spirit in Australia. Paula Frecot (vocals), Felix Möser (drums) and Linus Glaesemer (bass) joined the band shortly after to recomplete the lineup.</p>

				</div><!-- end col -->

				<div class="col-md-6 centering">
					<div class="home-video">
						<iframe class="videoframe" width="560" height="315" src="https://www.youtube.com/embed/LOETkpsoUOw"></iframe>
					</div><!-- end video -->
				</div><!-- end col -->

			</div><!-- end row -->

			<div class="row">
				<div class="col-md-6">
					<p>The group decided to rerecord the vocals with new vocalist Paula Frecot and released their 13-track debut album "Things Change" on August 2, 2019. They were featured as "act of the month" on Germany's biggest guitar magazine "Gitarre & Bass" (vol. 09/2019). The band took a hiatus from touring until mid 2020. During that time they released a nine episode video series called the "Acoustic Garden Sessions".</p>
				</div>
				<div class="col-md-6">
					<p>Despite the corona virus pandemic Leaving Spirit played their first tour across Germany in Fall 2020 with stops in Berlin, Hamburg, Leipzig, Hannover and Würzburg. The band released several new songs in a live session format in 2021 on Spotify and YouTube. After a reformation in 2021 with new members Maik Wiezorrek on keys, Eric Loeffler on guitars and Amelie Platzoeder on bass, the band is currently planning the release of their new record and a tour for Fall 2022.</p>
				</div>
			</div>

			<hr class="invis">

			<div class="row">
				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_01.jpg')%> alt="" class="alignleft">
							<i class="flaticon-karaoke"></i>
						</div>
						<h4>Vocals</h4>
						<small>Paula Frecot</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_03.jpg')%> alt="" class="alignleft">
							<i class="flaticon-electric-guitar"></i>
						</div>
						<h4>Guitars</h4>
						<small>Florian Eppel</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_02.jpg')%> alt="" class="alignleft">
							<i class="flaticon-saxophone"></i>
						</div>
						<h4>Hammond/Piano</h4>
						<small>Maik Wiezorrek</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_03.jpg')%> alt="" class="alignleft">
							<i class="flaticon-electric-guitar"></i>
						</div>
						<h4>Guitars</h4>
						<small>Eric Löffler</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_03.jpg')%> alt="" class="alignleft">
							<i class="flaticon-electric-guitar"></i>
						</div>
						<h4>Bass</h4>
						<small>Amelie Platzöder</small>
					</div><!-- end teambox -->
				</div><!-- end col -->

				<div class="col-md-2">
					<div class="teambox clearfix">
						<div class="member">
							<img src=<%=asset_url('upload/member_04.jpg')%> alt="" class="alignleft">
							<i class="flaticon-drum-set"></i>
						</div>
						<h4>Drums</h4>
						<small>Fabian Schäfauer</small>
					</div><!-- end teambox -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end section -->

	<section id="tour" class="section">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Upcoming Tour Dates</h2>
				<p>A complete list of festivals and concerts to be held soon! You can buy the latest concert tickets here!</p>
			</div><!-- end title -->

			<div class="tour-table table-responsive">
			  <table class="table row">
			    <thead>
			      <tr>
			        <th class="col-md-3">Date</th>
			        <th class="col-md-4">Venue</th>
			        <th class="col-md-3">Location</th>
			        <th class="col-md-2 text-center">Link</th>
			      </tr>
			    </thead>
			    <tbody>
			    <% @concerts.order(date: :asc).each do |concert| %>
			    <% if concert.date.future? %>
			      <tr>
			        <td class="col-md-3 tour-date"><%=concert.date.strftime('%B %d, %Y')%></td>
			        <td class="col-md-4"><a href="<%= concert.location_link%>"><%=concert.title%></a></td>
			        <td class="col-md-3"><%=concert.location_name%></td>
			        <td class="col-md-2 ticket-button text-center"><a href='<%=concert.ticket_link%>' class="btn btn-primary">Info</a></td>
			      </tr>
			    <% end %>
			    <% end %>
			    </tbody>
			  </table>
			</div><!-- end tour-table -->
		</br>
		<div id="past-concerts-table">
			<div class="section-title text-center clearfix">
				<h2>Past Tour Dates</h2>
				<p>Here is a list of shows that we played in the past!</p>
			</div><!-- end title -->
			<div class="tour-table table-responsive">
			  <table class="table row">
			    <thead>
			      <tr>
			        <th class="col-md-3">Date</th>
			        <th class="col-md-4">Venue</th>
			        <th class="col-md-3">Location</th>
			        <th class="col-md-2 text-center">Link</th>
			      </tr>
			    </thead>
			    <tbody>
			    <% @concerts.order(date: :desc).each do |concert| %>
			    <% if concert.date.past? %>
			      <tr>
			        <td class="col-md-3 tour-date"><%=concert.date.strftime('%B %d, %Y')%></td>
			        <td class="col-md-4"><a href="<%= concert.location_link%>"><%=concert.title%></a></td>
			        <td class="col-md-3"><%=concert.location_name%></td>
			        <td class="col-md-2 ticket-button text-center"><a href='<%=concert.ticket_link%>' class="btn btn-primary">Info</a></td>
			      </tr>
			    <% end %>
			    <% end %>
			    </tbody>
			  </table>
			</div><!-- end tour-table -->
		</div>
			<div class="section-button text-center">
				<button id="concert-button" class="btn btn-primary btn-lg">LIST ALL CONCERTS</button>
			</div>
		</div><!-- end container -->
	</section><!-- end section -->

	<section id="albums" class="section wb">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Records</h2>
				<p>Singles and all albums we have released since 2019.</p>
			</div><!-- end title -->

			<div class="row albume-wrapper">

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<input type="image" id="album-modal-button-0" class="img img--grid img-responsive" src=<%=asset_url('100percent.jpg')%> alt="100percent" />
							</div>
							<span class="year">2022</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">100% Leaving Spirit</h3>
						</a>
					</div>
				</div><!-- end col -->

								<!-- Album modal -->
				<div id="album-modal-0" class="modal">
  				<div class="modal-content">
    				<span class="close" id="close-modal-0">&times;</span>

    				<div class="row">
    					<div class="col-md-6 text-center">
    						<h3>100% Leaving Spirit (Album, 2022)</h3>
    						<img src=<%=asset_url('100percent.jpg')%> class="img-responsive" width="100%">
    						<p>This time we have decided to do it all on our own. From the recording to the mixing stages and also the mastering and cover-art is a 100% Leaving Spirit Original!</p>
    					</div>	
    					<div class="col-md-6 text-center">
    						<h3>Track List</h3>
    						<p></p>
    						<p>1. Back on Track</p>
    						<p>2. Cactus Ranch</p>
    						<p>3. (Like An) Easy Rider</p>
    						<p>4. I Wonder</p>
    						<p>5. Independent</p>
    						<p>6. Tear It Down</p>
    						<p>7. Unknown</p>
    						<p>8. Outlaws & Bandits</p>
    						<p>9. Where I Belong</p>
    					</div>    					
    				</div>
  				</div>
				</div>

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<input type="image" id="album-modal-button-1" class="img img--grid" src=<%=asset_url('refrigeratorblues.jpg')%> alt="refrigeratorblues" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Refrigerator Blues</h3>
						</a>
					</div>
				</div><!-- end col -->

				<!-- Album modal -->
				<div id="album-modal-1" class="modal">
  				<div class="modal-content">
    				<span class="close" id="close-modal-1">&times;</span>

    				<div class="row">
    					<div class="col-md-6 text-center">
    						<h3>Refrigerator Blues (Single, 2021)</h3>
    						<img src=<%=asset_url('refrigeratorblues.jpg')%> class="img-responsive" width="100%">
    						<p>The cover-art shows the famous "Leaving Spirit" Refrigerator from Flo's great-grandma.</p>
    					</div>	
    					<div class="col-md-6 text-center">
    						<h3>Track List</h3>
    						<p></p>
    						<p>1. Refrigerator Blues</p>
    						<p>2. Myth of the Delta Blues </p>
    						<p>3. Dusty Window </p>
    					</div>    					
    				</div>
  				</div>
				</div> 

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<input type="image" id="album-modal-button-2" class="img img--grid" src=<%=asset_url('mythofthedeltablues.jpg')%> alt="mythofthedeltablues" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Myth of the Delta Blues</h3>
						</a>
					</div>
				</div><!-- end col -->

				<!-- Album modal -->
				<div id="album-modal-2" class="modal">
  				<div class="modal-content">
    				<span class="close" id="close-modal-2">&times;</span>

    				<div class="row">
    					<div class="col-md-6 text-center">
    						<h3>Myth of the Delta Blues (Single, 2021)</h3>
    						<img src=<%=asset_url('mythofthedeltablues.jpg')%> class="img-responsive" width="100%">
    						<p>The cover-art is a sketch by Paula of famous blues man Robert Johnson standing at the famous crossroads where he sold his soul to the devil.</p>
    					</div>	
    					<div class="col-md-6 text-center">
    						<h3>Track List</h3>
    						<p></p>
    						<p>1. Myth of the Delta Blues</p>
    					</div>    					
    				</div>
  				</div>
				</div> 

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<input type="image" id="album-modal-button-3" class="img img--grid" src=<%=asset_url('cometogether.jpg')%> alt="thingschange" />
							</div>
							<span class="year">2021</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Come Together</h3>
						</a>
					</div>
				</div><!-- end col -->

								<!-- Album modal -->
				<div id="album-modal-3" class="modal">
  				<div class="modal-content">
    				<span class="close" id="close-modal-3">&times;</span>

    				<div class="row">
    					<div class="col-md-6 text-center">
    						<h3>Come Together (Single, 2021)</h3>
    						<img src=<%=asset_url('cometogether.jpg')%> class="img-responsive" width="100%">
    						<p>With this cover-art we are paying tribute to the Beatles!</p>
    					</div>	
    					<div class="col-md-6 text-center">
    						<h3>Track List</h3>
    						<p></p>
    						<p>1. Come Together</p>
    					</div>    					
    				</div>
  				</div>
				</div> 


				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<input type="image" id="album-modal-button-4" class="img img--grid" src=<%=asset_url('acousticgardensessions.jpg')%> alt="album1" />
							</div>
							<span class="year">2020</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Acoustic Garden Sessions</h3>
						</a>
					</div>
				</div><!-- end col -->

												<!-- Album modal -->
				<div id="album-modal-4" class="modal">
  				<div class="modal-content">
    				<span class="close" id="close-modal-4">&times;</span>

    				<div class="row">
    					<div class="col-md-6 text-center">
    						<h3>Acoustic Garden Sessions (Album, 2020)</h3>
    						<img src=<%=asset_url('acousticgardensessions.jpg')%> class="img-responsive" width="100%">
    						<p>We came together on a sunny day in Würzburg to play some covers and originals in an all-acoustic setup. You might even notice some interesting background sounds ;)</p>
    					</div>	
    					<div class="col-md-6 text-center">
    						<h3>Track List</h3>
    						<p></p>
    						<p>1. Both of Us - Acoustic</p>
    						<p>2. Come Together - Acoustic</p>
    						<p>3. Keep Rockin' Alive - Acoustic</p>
    						<p>4. Free Fallin' - Acoustic</p>
    						<p>5. Red Leaves - Acoustic</p>
    						<p>6. Always the Same - Acoustic</p>
    						<p>7. Refrigerator Blues - Acoustic</p>
    						<p>8. Son of a Preacher Man - Acoustic</p>
    						<p>9. The Girl on the Train - Acoustic</p>
    					</div>    					
    				</div>
  				</div>
				</div>

				<div class="col-md-4 col-sm-6 m30">
					<div class="grid__item">
						<a class="grid__link" href="#album-1">
							<div class="img-wrap img-wrap--grid">
								<svg class="lp lp--grid"></svg>
								<input type="image" id="album-modal-button-5" class="img img--grid" src=<%=asset_url('thingschange.jpg')%> alt="thingschange" />
							</div>
							<span class="year">2019</span>
							<h2 class="artist">Leaving Spirit</h2>
							<h3 class="title">Things Change</h3>
						</a>
					</div>
				</div><!-- end col -->

												<!-- Album modal -->
				<div id="album-modal-5" class="modal">
  				<div class="modal-content">
    				<span class="close" id="close-modal-5">&times;</span>

    				<div class="row">
    					<div class="col-md-6 text-center">
    						<h3>Things Change (Album, 2019)</h3>
    						<img src=<%=asset_url('thingschange.jpg')%> class="img-responsive" width="100%">
    						<p>Our first album! We put a lot of work into this and it turned out quite well, don't you think? Thanks to Nico from Spiral Music Studio for the great production and of course to Paula for the beautiful artwork!</p>
    					</div>	
    					<div class="col-md-6 text-center">
    						<h3>Title List</h3>
    						<p></p>
    						<p>1. Stranger on the Road</p>
    						<p>2. Mississippi Bridge</p>
    						<p>3. Free in My Mind</p>
    						<p>4. Reflections</p>
    						<p>5. Both of Us</p>
    						<p>6. The Girl on the Train</p>
    						<p>7. Always the Same</p>
    						<p>8. Fake</p>
    						<p>9. Old Lady</p>
    						<p>10. Read Leaves</p>
    						<p>11. Moonshine </p>
    						<p>12. Dead Lie </p>
    						<p>13. Keep Rockin' Alive </p>
    					</div>    					
    				</div>
  				</div>
				</div>


			</div><!-- end row -->

			<div class="section-button text-center">
				<a href="https://open.spotify.com/artist/1rxtBMjRYbUsgjLFnhjmp0" class="btn btn-primary btn-lg">VIEW ON SPOTIFY</a>
			</div>
		</div><!-- end container -->
	</section><!-- end section -->

	<section id="follow" class="section">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2>Follow <i>Leaving Spirit</i></h2>
				<p>Follow Leaving Spirit on your social media profiles and get updates / tickets for free!</p>
			</div><!-- end title -->



			<div class="row">
				<div data-mc-src="3bc881ca-8f0e-4100-a731-6011ed27b4c4#null"></div> <!-- INSTAGRAM WIDGET -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end section -->


	<section id="store" class="section wb">
		<div class="container">
			<div class="section-title text-center clearfix">
				<h2><i>Our</i> STORE</h2>

				<% if Rails.env.production? %>
				<p>Coming soon!</p>
				<% else %>
				<p>Listed below our awesome store items! We design custom t-shirt's for our awesome fans!</p>
			</br>
				<p><%= link_to cart_path do%>
			    
			    <h3><img src=<%=asset_url("upload/shopping-cart-icon.svg")%> width="30px"> My Cart
			    (<span class="cart-count"><%=current_user.cart_count%></span>)</h3>
			  <%end%></p>
			</div><!-- end title -->

			<div class="row text-center">

				<% @products.each do |product| %>
					<div class="col-md-3">
						<div class="shop-box">
							<div class="media-element">
								<img src=<%=asset_url(product.image_link)%> alt="" class="img-responsive">
							</div><!-- end media -->

							<hr>

							<div class="shop-meta">
								<h3><a href="#"><%=product.name%></a></h3>
								<div class="clearfix">
									<small class="pull-left"><%=sprintf('%.2f',product.price.round(2)) %> €</small>
									<small class="pull-right">
  <%=link_to "", class: "btn btn-primary btn-sm", data: {target: "Add to", addUrl: add_to_cart_path(product), removeUrl: remove_from_cart_path(product)} do%>
    Add To Cart
<%end%>
  </small>
								</div>
							</div><!-- end shop-meta -->
						</div><!-- end shop-box -->
					</div><!-- end col -->
				<%end%>
				<%end%>

		</div><!-- end container -->

</section><!-- end section -->





	<!-- INSTAGRAM WIDGET -->
	<script 
  src="https://cdn2.woxo.tech/a.js#63af0676ff5457580d21a50b" 
  async data-usrc>
</script> 


