<% order=@order %>

<section id="placeholder" class="section"></section>

<section id="cart" class="section wb">
  <div class="container">
    <div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>Order Details</h4>
  </div>


<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="col-md-3">
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, :input_html => {:minlength => 1 , maxlength: 30, class: "form-control", require: true} %>
      </div>

      <div class="mb-3">
        <%= form.label :last_name, class: "form-label" %>
        <%= form.text_field :last_name, :input_html => {:minlength => 1 , maxlength: 30, class: "form-control", require: true} %>
      </div>

      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, :input_html => {:minlength => 1 , maxlength: 30, class: "form-control", require: true} %>
      </div>

      <div class="mb-3">
        <%= form.label :address_line1, class: "form-label" %>
        <%= form.text_field :address_line1, :input_html => {:minlength => 1 , maxlength: 30, class: "form-control", require: true} %>
      </div>

      <div class="mb-3">
        <%= form.label :address_line2, class: "form-label" %>
        <%= form.text_field :address_line2, :input_html => {:minlength => 1 , maxlength: 30, class: "form-control"} %>
      </div>

      <div class="mb-3">
        <%= form.label :country, class: "form-label" %>
        <%= form.select :country, ["Albania","Andorra","Armenia","Austria","Azerbaijan","Belarus","Belgium","Bosnia and Herzegovina","Bulgaria","Croatia",
          "Cyprus","Czech Republic","Denmark","Estonia","Finland","France","Georgia","Germany","Greece","Hungary","Iceland","Ireland","Italy","Kosovo","Latvia",
          "Liechtenstein","Lithuania","Luxembourg","Macedonia","Malta","Moldova","Monaco","Montenegro","The Netherlands","Norway","Poland","Portugal","Romania",
          "Russia","San Marino","Serbia","Slovakia","Slovenia","Spain","Sweden","Switzerland","Turkey","Ukraine","United Kingdom","Vatican City"], :selected =>"Germany" %>
      </div>

      <div class="mb-3">
        <%= form.label "Newsletter" %> 
        <%= form.check_box :newsletter %> <br />
      </div>

      <div class="mb-3">
        <%= form.label "Terms of service" %> 
        <%= form.check_box :terms_of_service, required: true  %> <br />
      </div>

      <div class="hide">
        <%= form.number_field :buyer_id, class: "form-control" , value:current_user.id%>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  </br>
    <div class="text-center">
    <h3><%=form.submit "Place Order (payment required)", class: "btn btn-primary" unless current_user.get_cart_products.blank?%> (Total: <%=current_user.cart_total_price%> €)<h3>
    </div>
  </div>
  
</div>
</section>

  

<% end %>