

<section id="placeholder" class="section"></section>

<section id="cart" class="section wb">
	<div class="container">
    <div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>My Cart</h4>
    <p class="mb0"> You've selected <span class="cart-count"><%=current_user.cart_count%></span> items!</p>
  </div>

  <% @cart_products.each do |product|%>

  <div class="shop-box">
              <hr>
              <div class="shop-meta">
                <h3><a href="#"><%=product.name%></a></h3>

                <div class="clearfix">
                  <small class="pull-left"><%= @n_prod=current_user.get_number_of_product_in_cart(product)%> x <%=sprintf('%.2f',product.price.round(2)) %> €</small>
                  <small class="pull-right">
  <%=link_to "", class: "btn btn-primary btn-sm", data: {target: "Add to", addUrl: add_to_cart_path(product), removeUrl: remove_from_cart_path(product)} do%>
    Add To Cart
<%end%>
  <%=link_to "", class: "btn btn-primary btn-sm", data: {target: "Remove from", addUrl: add_to_cart_path(product), removeUrl: remove_from_cart_path(product)} do%>
    Remove
<%end%></small>
                </div>
              </div><!-- end shop-meta -->
            </div>

<% end %>
</br>
  <div class="text-center">
  <h3><%=link_to "Checkout", new_order_path, class: "btn btn-primary" unless current_user.get_cart_products.blank?%> (Total: <%=current_user.cart_total_price%> €)<h3>
  </div>
</div>
</div>
</section>


