
<section id="cart" class="section">
	
  <div class="container">
      <div class="section-title text-center clearfix">
        <h2>Dear Journalists & Reporters</h2>
        <p>We thank you for your interest in our band!</p>
        <p> For further information about us feel free to check out our Electronic Press Kit</p>
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="section-button text-center">
            <a href=<%=asset_url("upload/presskit_leaving_spirit.pdf")%> class="btn btn-primary btn-lg">GERMAN VERSION</a>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="section-button text-center">
            <a href=<%=asset_url("upload/presskit_leaving_spirit_english.pdf")%> class="btn btn-primary btn-lg">ENGLISH VERSION</a>
          </div>
        </div>
        <div class="col-md-2"></div>        
      </div>
      </div><!-- end title -->

      


    </br>
    <div class="section-title text-center clearfix">
    <h2 class="text-center">Pictures free to use</h2>
    <p>Click on images for a larger view!</p>
    <p>In case of questions, please feel free to contact us under info@leavingspirit.com</p>
    </div>

      <div class="row video-wrapper">
        <div class="col-md-6 m30">
          <div class="blog-box">
            <div class="home-video videobox clearfix">
              <a href=<%=asset_url("upload/LeavingSpirit_Photo")%>> <img width="100%" class="img-responsive" src=<%=asset_url("upload/LeavingSpirit_Photo")%>></a>
            </div><!-- end media -->
            <div class="blog-title">
              <h3><a href=<%=asset_url("upload/LeavingSpirit_Photo")%> title="">Leaving Spirit | Band Photo (2022)</a></h3>
              <p>Credit: Florian Eppel</p>
            </div><!-- end blog-title -->
          </div><!-- end blog-box -->
        </div><!-- end col -->

        <div class="col-md-6 m30">
          <div class="blog-box">
            <div class="home-video videobox clearfix">
              <a href=<%=asset_url("upload/Credit_bhof_Wuerzburg(1)")%>> <img width="100%" class="img-responsive" src=<%=asset_url("upload/Credit_bhof_Wuerzburg(1)")%>></a>
            </div><!-- end media -->
            <div class="blog-title">
              <h3><a href=<%=asset_url("upload/Credit_bhof_Wuerzburg(1)")%> title="">Leaving Spirit | Live Photo (2021)</a></h3>
              <p>Credit: B-hof Würzburg</p>
            </div><!-- end blog-title -->
          </div><!-- end blog-box -->
        </div><!-- end col -->

        <div class="col-md-6 m30">
          <div class="blog-box">
            <div class="home-video videobox clearfix">
              <a href=<%=asset_url("upload/Credit_bhof_Wuerzburg_2")%>> <img width="100%" class="img-responsive" src=<%=asset_url("upload/Credit_bhof_Wuerzburg_2")%>></a>
            </div><!-- end media -->
            <div class="blog-title">
              <h3><a href=<%=asset_url("upload/Credit_bhof_Wuerzburg_2")%> title="">Leaving Spirit | Live Photo (2021)</a></h3>
              <p>Credit: B-hof Würzburg</p>
            </div><!-- end blog-title -->
          </div><!-- end blog-box -->
        </div><!-- end col -->

        <div class="col-md-6 m30">
          <div class="blog-box">
            <div class="home-video videobox clearfix">
              <a href=<%=asset_url("upload/Titelbild1")%>> <img width="100%" class="img-responsive" src=<%=asset_url("upload/Titelbild1")%>></a>
            </div><!-- end media -->
            <div class="blog-title">
              <h3><a href=<%=asset_url("upload/Titelbild1")%> title="">Leaving Spirit | Lap Steel Solo (2019)</a></h3>
              <p>Credit: Kilian Schick</p>
            </div><!-- end blog-title -->
          </div><!-- end blog-box -->
        </div><!-- end col -->

    
      </div><!-- end row -->
    </div><!-- end container -->

</section>
