<!DOCTYPE html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>


    <%= include_gon %>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Leaving Spirit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
    <%#= javascript_pack_tag "application" %>

    <!-- Site Icons -->
    <link rel="shortcut icon" href=<%=asset_url('favicon.ico')%> type="image/x-icon" />
    <link rel="apple-touch-icon" href=<%=asset_url('apple-touch-icon.png')%>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 

  <!-- Audio Player -->
  <%= stylesheet_link_tag 'bar-ui' %>
  <!--<link rel="stylesheet" href="css/bar-ui.css" />-->

  <!-- Custom & Default Styles -->
  <%= stylesheet_link_tag 'font-awesome_min' %>
  <%= stylesheet_link_tag 'bootstrap_min' %>
  <%= stylesheet_link_tag 'carousel' %>
  <%= stylesheet_link_tag 'style' %>

</head>
<body>

  <header class="header first-header">
    <div class="container">
      <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

          </div>
          <a class="navbar-brand" href=<%root_path%>><img src=<%=asset_url('Leaving_Spirit_Lobster.png')%> alt=""></a>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                  <li><a data-scroll href="#home">Home</a></li>
                  <li><a data-scroll href="#about">History</a></li>
                  <li><a data-scroll href="#tour">Tour</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a data-scroll href="#albums">Records</a></li>
                  <li><a data-scroll href="#store">Store</a></li>
                  <li><a data-scroll href="press">Press</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>


    </div><!-- ebd container -->
  </header><!-- end header -->

<% if alert %>
<div class="alert alert-secondary" role="alert">
  <%= alert %>
</div>
<% end %>
<% if notice %>
<div class="alert alert-secondary" role="alert">
  <%= notice %>
</div>
<% end %>

    <%= yield %>

  <section class="footer section lb nobpad">
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>2016 - 2024 &copy;Leaving Spirit. All rights reserved.</p>
                        <ul class="list-inline">
                            <li><a href="https://facebook.com/keeprockinalive">Facebook</a></li>
                            <li><a href="https://instagram.com/leavingspirit">Instagram</a></li>
                            <li><a href="https://tiktok.com/@leavingspirit">TikTok</a></li>
                            <li><a href="https://youtube.com/leavingspirit">YouTube</a></li>
                            <li><%= link_to "Press", press_path%></li>
                        </ul>
                        <ul class="list-inline">
                            <li><%= link_to "Data Policy", press_data_policy_path%></li>
                            <li><%= link_to "AGB", press_agb_path%></li>
                            <li><%= link_to "Widerrufsbelehrung", press_withdrawal_path%></li>
                            <li><%= link_to "Liefer/Zahlungsbedingungen", press_delivery_path%></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyrights -->
  </section><!-- end section -->


  <!-- jQuery Files -->
  <%= javascript_include_tag 'jquery_min' %>
  <%= javascript_include_tag 'bootstrap_min' %>
  <%= javascript_include_tag 'parallax' %>
  <%= javascript_include_tag 'owl_carousel' %>
  <%= javascript_include_tag 'jquery_fitvids' %>
  <%= javascript_include_tag 'scroll' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag 'cart_editer' %>  
  <%= javascript_include_tag 'cart_adder' %> 
  <%= javascript_include_tag 'transactions' %> 

  <!-- JavaScript SDK for Braintree -->
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

  </body>
</html>
